.code {
  font-family: Hack, monospace;
  background-color: #DCDCDC;
  padding: 10px 10px 10px 10px;
}
.title {
  font-family: "Times New Roman", Times, serif;
  font-size: 38px;
}
.author {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: gray;
}
.heading {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
}
.subheading {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.body-text {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
#my-sidebar {
  position: fixed;
  right: 10px;
}
